/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.he{
    background-image: url("https://images.unsplash.com/photo-1515678845848-b037361130e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
    background-size: cover;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 100;
    color:antiquewhite;
}

.f{
    background: gold;


}

img {
    width: 100px;

}